doctype html
html
  head
    title Notes
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    nav.navbar
      a.logo(href="https://fullstack.cloudconsu.com/RampUP/web_personal/assets/never_compressed.mp4")
        img.logo-image(src="/assets/new_notas.png", alt="Logo")
      h1.navbar-title 
        a(href="/") LOS NOTAS
      if session.client
        span.navbar-username= session.client.username
        a(href="/client/logout") Cerrar Sesión
      else
        ul.menu-list
          li
            a(href="/") Home
          li
            a(href="/client/signup") Registro
    .body-class
      form.formulario(action="/client/login" method="post") 
        label(for="username") Usuario
        input.input(type="text" name="username" id="username")
        br
        label(for="password") Contraseña
        input.input(type="password" name="password" id="password")
        br      
        input.button(type="submit" value="Login")
        if errorMessage 
          p= errorMessage