doctype html
html
    head
        title Los Notas
        link(rel="stylesheet" type="text/css" href="/css/style.css")
    body
        nav.navbar
            a.logo(href="https://fullstack.cloudconsu.com/RampUP/web_personal/assets/never_compressed.mp4")
                img.logo-image(src="/assets/new_notas.png" alt="Logo")
            h1.navbar-title 
                a(href="/") LOS NOTAS
            if session.client
                span.navbar-username= session.client.username
                a(href="/client/logout") Cerrar Sesi칩n
            else
                ul.menu-list
                    li
                        a(href="/") Home
                    li
                     a(href="/client/login") Iniciar Sesi칩n
        .body-class
            form.formulario(action="/client/signup" method="post")
                label(for="username") Usuario
                input.input(type="text" name="username" id="username")
                br
                label(for="name") Nombre
                input.input(type="text" name="name" id="name")
                br
                label(for="lastname") Apellido
                input.input(type="text" name="lastname" id="lastname")
                br
                label(for="password") Contrase침a
                input.input(type="password" name="password" id="password")
                br
                label(for="password_repeat") Repetir contrase침a
                input.input(type="password" name="password_repeat" id="password_repeat")
                br
                input.button(type="submit" value="Registrar")
                if errorMessage
                    p= errorMessage
