doctype html
html
    head
        title Notes
        link(rel="stylesheet" type="text/css" href="/css/style.css")
    body
        nav.navbar
            a.logo(href="/")
                img.logo-image(src="/assets/notas.jpeg" alt="Logo")
            h1.navbar-title 
                a(href="/") LOS NOTAS
            if session.client
                ul.menu-list
                    li 
                        span.navbar-username= session.client.username
                    li
                        a(href="/client/logout") Log Out
            else
                ul.menu-list
                    li
                        a(href="/") Home
                    li
                        a(href="/client/login") Login
                    li
                        a(href="/client/signup") Registro

form.formulario(action="/note/create" method="post")
    label(for="title") Titulo
    input.input(type="text" name="title" id="title")
    br
    label(for="content") Contenido
    textarea.textarea(name="content" id="content" rows="6" cols="50")
    br
    label(for="category_id") Categoria
    select#category_id(name="category_id")
        option(value="1") Sports
        option(value="2") Technology
        option(value="3") Fashion
        option(value="4") Food
        option(value="5") Travel
        option(value="6") Music
        option(value="7") Movies
        option(value="8") Health
        option(value="9") Books
        option(value="10") Art
    br
    label(for="flag") Etiquetas
    input.input(type="text" name="flag" id="flag")
    br
    input.button(type="submit" value="Create")



