doctype html
html
    head
        title Notes
        link(rel="stylesheet" type="text/css" href="/css/style.css")
    body
        nav.navbar
            a.logo(href="/")
                img.logo-image(src="/assets/new_notas.png" alt="Logo")
            h1.navbar-title 
                a(href="/") LOS NOTAS
            if session.client
                ul.menu-list
                    li 
                        span.navbar-username= session.client.username
                    li
                        a(href="/client/logout") Cerrar Sesión
            else
                ul.menu-list
                    li
                        a(href="/") Home
                    li
                        a(href="/client/login") Iniciar Sesión
                    li
                        a(href="/client/signup") Registro

form.formulario(action="/note/create" method="post")
    label(for="title") Titulo
    input.input(type="text" name="title" id="title" maxlength="50")
    br
    label(for="content") Contenido
    textarea.textarea(name="content" id="content" rows="6" cols="50" maxlength="250")
    br
    label(for="category_id") Categoria
    select#category_id(name="category_id")
        option(value="1") Deportes
        option(value="2") Tecnología
        option(value="3") Moda
        option(value="4") Comida
        option(value="5") Viajes
        option(value="6") Música
        option(value="7") Películas
        option(value="8") Salud/Bienestar
        option(value="9") Libros
        option(value="10") Arte
    br
    label(for="flag") Etiquetas
    input.input(type="text" name="flag" id="flag" maxlength="10")
    br
    input.button(type="submit" value="Create")
    if errorMessage
        p= errorMessage



